@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.header img{
    height: 100px;
    margin-left: 30px;
}
.header{
     display: flex;
     column-gap: 550px;
     margin: 20px 50px;

 }
.header ul{
    display: flex;
    column-gap: 80px;
    margin-top: 40px;
}
.header a{
    text-decoration: none;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    color: #003a8c;
    font-weight: 500;
}
.insideheader button{
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #003a8c;
    font-weight: 500;
}